:root {
    --primary-color: #3498db;
    --secondary-color: #e74c3c;
    --font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 120px);
}

.game-container {
    position: relative;
    width: 800px;
    height: 600px; 
    background-color: #333;
}

.game-start,
.game-mainmenu,
.game-upgrademenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.game-upgrademenu {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #444;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

.player-info {
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: center;
}

.player-info img {
    width: 100px;
    height: 100px;
}

.player-coins {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
    color: gold; /* Color for gold coins */
    font-size: 18px;
}

.upgrade-shop {
    position: absolute;
    bottom: 32%; /* Adjusted to make room for the button */
    left: 28%;
    text-align: left;
}

.upgrade-shop h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.upgrade-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upgrade-item span {
    margin-right: 10px;
}

.upgrade-button {
    padding: 5px 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.upgrade-button:hover {
    background-color: var(--secondary-color);
}

.weapon-shop {
    position: absolute;
    top: 100px;
    right: 20px;
    text-align: center;
}

.weapon-shop h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.weapon-item {
    cursor: grab;
    margin-bottom: 10px;
}

.weapon-item img {
    width: 50px;
    height: 50px;
}

.player-equipment {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: center;
}

.player-equipment h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.equipment-slot {
    width: 100px;
    height: 100px;
    border: 2px dashed white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    background-color: #333;
}

.equipment-slot.drag-over {
    border-color: var(--primary-color);
    background-color: var(--secondary-color);
    color: white;
}

.menu-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-button:hover {
    background-color: #2980b9;
}

.center-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

canvas {
    display: block;
    margin: auto;
    border: 1px solid black;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
}
